# dependencies
node_modules/
.pnpm-store/

# build
dist/
build/
coverage/
*.tsbuildinfo

# env
.env
.env.*
!.env.example

# prisma generated client
apps/api/src/generated/

# tests
playwright-report/
test-results/
blob-report/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editors / os
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json